<div th:fragment="scripts">

	<script th:src="@{assetsUser/js/jquery.min.js}"></script>
	<script th:src="@{assetsUser/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{assetsUser/js/jquery.hoverIntent.min.js}"></script>
	<script th:src="@{assetsUser/js/jquery.waypoints.min.js}"></script>
	<script th:src="@{assetsUser/js/superfish.min.js}"></script>
	<script th:src="@{assetsUser/js/owl.carousel.min.js}"></script>
	<script th:src="@{assetsUser/js/bootstrap-input-spinner.js}"></script>
	<script th:src="@{assetsUser/js/jquery.plugin.min.js}"></script>
	<script th:src="@{assetsUser/js/jquery.magnific-popup.min.js}"></script>
	<script th:src="@{assetsUser/js/jquery.countdown.min.js}"></script>
	<!-- Main JS File -->
	<script th:src="@{assetsUser/js/main.js}"></script>
	<script th:src="@{assetsUser/js/demos/demo-4.js}"></script>
</div>